.bbb {
  color: brown;
  background-color: antiquewhite;
}
.login-wrap {
  width: 500px;
  margin: 0 auto;
  border: 1px solid #000;
  padding: 50px;
}
.login-title {
  margin: 0;
  text-align: center;
  padding-bottom: 20px;
  font-size: 30px;
  color: tomato;
}
.login-wrap > .input-wrap {
  padding: 10px;
}
.login-wrap > .input-wrap > * {
  display: block;
  padding: 5px;
  width: 100%;
}
.login-wrap > .input-wrap > input {
  border: none;
  outline: none;
  border-bottom: 2px solid #000;
}
.login-btn {
  padding: 10px;
}
.login-btn > input {
  width: 100%;
  border: none;
  outline: none;
  padding: 15px;
  background-color: tomato;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
/* 회원가입 */
.insert-wrap {
  width: 500px;
  margin: 0 auto;
  border: 1px solid #000;
  padding: 50px;
}
.insert-title {
  margin: 0;
  text-align: center;
  padding-bottom: 20px;
  font-size: 30px;
  color: darkcyan;
}
.insert-btn > input {
  width: 100%;
  border: none;
  outline: none;
  padding: 15px;
  background-color: darkcyan;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.insert-wrap > .input-wrap > * {
  display: block;
  padding: 5px;
  width: 100%;
}

.insert-wrap > .input-wrap {
  padding: 10px;
}
.insert-wrap > .input-wrap > input {
  border: none;
  outline: none;
  border-bottom: 2px solid #000;
}
.gender-wrap {
  padding: 10px;
}
.gender-wrap > span {
  display: block;
}
.gender-wrap > div {
  margin-top: 10px;
}
.gender-wrap > div > input {
  margin-right: 20px;
}
